*{
    margin: 0;
    padding: 0;
}
button{

    text-align: center;
    justify-content: center;
    color: rgba(255, 119, 56, 0.927);
    background-color: yellow;
    font-size: 20px;
    border-radius: 10px;
    margin: 23px;
    padding: 10px;
    /* left: 23px; */
}
